@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


@font-face {
  font-family: "Mansfield";
  src: url("/fonts/Mansfield-iF66c703e50e674.ttf") format("truetype");
  /* font-weight: 100 900; */
  /* font-style: normal; */
  font-display: swap;
}

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BricolageGrotesqueSemiBold";
  src: url("/fonts/BricolageGrotesque-SemiBold.ttf") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}



.mobile-bg {
  background-image: url('/images/ovalBg.svg');
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
}