@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


@font-face {
  font-family: "Mansfield";
  src: url("/fonts/Mansfield-iF66c703e50e674.ttf") format("truetype");
  /* font-weight: 100 900; */
  /* font-style: normal; */
  font-display: swap;
}

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BricolageGrotesqueSemiBold";
  src: url("/fonts/BricolageGrotesque-SemiBold.ttf") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
